:root{
	--teal: #2ec1ac;
	--teal_hover:#279e8c;
}
*{
		font-family: 'Poppins', sans-serif;
	}
	.h-font{
		font-family: 'Merienda' cursive;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textarea;
	}
	.custom-bg{
		background-color: var(--teal);
		border: 1px solid var(--teal);
	}
	.custom-bg:hover{
		background-color: var(--teal-hover);
		border-color: var(black);
	}

	.h-line{
		width: 150px;
		margin: 0 auto;
		height: 1.7px;
	}

	.service .box-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:1.5rem;
	}
	
	.service .box-container .box{
		border-radius: .5rem;
		text-align: center;
		padding:2.5rem;
	}
	
	.service .box-container .box i{
		height: 6rem;
		width: 6rem;
		line-height: 6rem;
		border-radius: 50%;
		font-size: 2.5rem;
		background:var(--main-color);
		color:#2ec1ac;
	}
	
	.service  h1{
		text-align: center;
		margin: 12px;
	}

	.service  h1 span{
		color:#2ec1ac;
	}

	.service .box-container .box h3{
		font-size: 25px;
		padding:1rem 0;
	}
	
	.service .box-container .box p{
		font-size: 15px;
		line-height: 1.8;
	}
.btnn{
	display: flex;
    margin: auto;
    padding: 25px
}

.about .row{
    display: grid;
	grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap:1.5rem;
}
.about h1{
	text-align: center;
    margin: 3%;
}
.about .row .image{
    flex:1 1 45rem;
    padding:1rem;
}

.about .row .image img{ 
    width: 100%;
    border-radius: .5rem;
    border:1rem solid #333;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    font-size: 25px;
}

.about .row .content p{
    font-size: 15px;
    padding:1rem 0;
    line-height: 2;
}

.mission{
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.fav{
	justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.fav i{
	font-size: 200px;
}

.vision{
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.fav1{
	justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.fav1 i{
	font-size: 200px;
}

.gallery .box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1.5rem;
}

.gallery .box-container .box{
    position: relative;
    border:1rem solid #333;
    border-radius: .5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box:hover img{
    transform: scale(1.1);
    filter: grayscale();
}

.gallery .box-container .box .title{
    position: absolute;
    top:-10rem; left:0; right: 0;
    background:#333;
    color:#fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.gallery .box-container .box:hover .title{
    top:0;
}

.gallery .box-container .box .icons{
    position: absolute;
    bottom:-10rem; left:0; right: 0;
    background:#333;
    padding-top: 1rem;
    text-align: center;
}

.gallery .box-container .box:hover .icons{
    bottom: 0;
}

.gallery .box-container .box .icons a{
    font-size: 2rem;
    margin:.5rem 1rem;
    color:#fff;
}

.gallery .box-container .box .icons a:hover{
    color:var(--main-color);
}
.custom-bg:hover{
	border: 1px solid black !important;
	color: black !important;
}


.btt1 {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
  }
  
  .btt1:hover .dropdown-content {
	display: block;
  }